---
layout: base.njk
title: Manifesti
---

<section class="manifesto">
  <p>VAIMEA syntyi yhden ihmisen vilpittömästä ajatuksesta vastarinnasta nykyisiä normeja vastaan.</p>

  <p>Toimimme algoritmin tutkan alla. Vältämme optimointia, nopeaa julkaisutahtia ja kaikkea geneeristä tekoälyllä tuotettua sisältöä.</p>

  <p>Sivusto on rakennettu GitHubiin ja sitä ylläpidetään kotikutoisesti. Taustalla on IndieWeb-ajatus. Sisältö ei ole sidottu yhteen alustaan, eikä sen olemassaolo riipu yhden palvelun ehdoista. Voin pakata tiedostoni milloin haluan ja viedä ne mukanani.</p>

  <p>Internet kiinnostaa minua paikkana, jota ihmiset voivat edelleen rakentaa itse. Pieni verkkosivu voi olla kuin graffitiseinä, työpöydän laatikko tai itse koottu työpaja: keskeneräinen ja tekijänsä näköinen.</p>

  <p>Samaa henkeä löytyy kulttuurista, joka ei synny valmiiksi rakennetuilla alustoilla vaan omissa käsissä. Yhteisöissä, kylissä, kaupungeissa, kaduilla. Ihmisissä.</p>

  <p>VAIMEA ei lupaa, mutta yrittää olla juuri tällainen paikka.</p>

  <p>Ei valmis sisältösyöte. Ei optimoitu media. Vain verkkosivu ja ajatus.</p>

  <p>Tervetuloa tilaan, jossa saat lukea rauhassa, törmätä keskeneräisiin ajatuksiin, olla itse keskeneräinen ja tutustua yhden ihmisen tapaan nähdä maailma josta hän koittaa kertoa omin sanoin.</p>
</section>
