---
layout: base.njk
title: Manifesti
---

<section class="manifesto">
  <p>Inhimillistä havainnointia.<br>
  Julkaisen silloin kun on sanottavaa.</p>

  <p>Ainut tavoitteeni on jakaa omia havaintoja itsestäni, ihmisistä ja maailmasta.</p>

  <p>Tarinat kantavat.</p>
</section>
