---
layout: base.njk
title: Lähetä
permalink: /laheta/index.html
---

<section class="manifesto submit">
  <p>Sinulla voi olla ajatus.<br>
  Sinulla voi olla tarina.<br>
  Sinulla voi olla sanottavaa.</p>

  <p>Kaikilla teksteillä ei ole valmista julkaisupaikkaa. Jotkin niistä eivät myöskään kaipaa kirjoittajansa nimeä tai kasvoja ympärilleen.</p>

  <p>Jos sinulla on teksti, luonnos tai ajatus, jonka haluaisit saattaa muiden luettavaksi, voit lähettää sen VAIMEAlle. Se voidaan julkaista omalla nimellä, nimimerkillä tai anonyymisti.</p>

  <p>VAIMEA päättää mitä julkaisee ja mitä jättää julkaisematta. Sisältö, joka julkaistaan, luvataan kuitenkin pitää koskemattomana.</p>

  <p class="submit-email"><a href="mailto:vaimea@vaimeatapa.fi">[ vaimea@vaimeatapa.fi ]</a></p>
</section>
