---
layout: base.njk
title: Linkit
permalink: /linkit/index.html
---

<header class="page-header">
  <p class="eyebrow">LINKS // WWW</p>
  <h1>Linkit</h1>
</header>

<ul class="link-list">
  {# Lisää uusi linkki kopioimalla tämä rivi listan sisään:
  <li><a href="https://osoite.fi">Sivuston nimi <span>↗</span></a></li>
  #}
</ul>
